.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
    text-decoration: none;
}

.footer-info,
.footer-social {
    color: var(--text-main, #212529);
    font-family: Roboto;
    font-size: 18px;
    text-transform: uppercase;
}

.footer-text {
    color: var(--text-main, #212529);
    font-family: Roboto;
    font-size: 16px;
    text-decoration: none;
}

.footer-social {
    display: flex;
}

.footer-social__vk {
    padding-right: 40px;
    text-decoration: none;
    color: #212529;
}

.footer-social__tg {
    text-decoration: none;
    color: #212529;
}

.footer-text__mobile-main {
    color: #fff;
}

.footer-text__mobile {
    color: #fff;
}

@media screen and (max-width: 390px) {
    .footer {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 60px;
    }

    .footer-info__date {
        display: flex;
        justify-content: center;
        padding-bottom: 4px;
    }

    .footer-info__text {
        padding-bottom: 20px;
    }

    .footer-text {
        display: none;
    }

    .mobile__text {
        display: flex;
        flex-direction: column;
    }

    .footer-text__mobile {
        color: var(--text-main, #212529);
        font-size: 16px;
        line-height: 140%;
        text-decoration: none;
        display: flex;
        justify-content: center;
        padding-bottom: 28px;
    }

    .footer-text__mobile-main {
        color: var(--text-main, #212529);
        font-size: 16px;
        line-height: 140%;
        text-decoration: none;
        padding-bottom: 8px;
    }

    .footer-social {
        padding-bottom: 24px;
    }
}