.form__image {
    width: 562px;
    height: 566px;
}

.form-content__title {
    width: 678px;
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Helvetica;
    font-size: 48px;
    line-height: normal;
    position: relative;
    padding-bottom: 32px;
}

.form-content__subtitle {
    color: #000;
    font-size: 16px;
    padding-bottom: 72px;
}

.form {
    display: flex;
    padding-top: 120px;
}

.form-content {
    width: 678px;
    display: flex;
    flex-direction: column;
    padding-left: 136px;
}

.form-input-button {
    width: 176px;
    height: 46px;
    background: var(--text-main, #212529);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 24px;
    margin-right: 534px;
}

.form-input__text {
    color: var(--bg-white, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    background: none;
    width: 176px;
    height: 46px;
    border: none;
}

input {
    display: flex;
    width: 562px;
    height: 31px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: #212529;
    border-width: 1px;
    outline: none;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

input::placeholder {
    color: var(--text-main, #212529);
    font-family: Roboto;
    font-size: 16px;
}

.form-content-apps {
    display: flex;
    gap: 8px;
}

@media screen and (max-width: 390px) {
    .form {
        padding-top: 48px;
    }

    .form__image {
        display: none;
    }

    .form-content {
        padding-left: 0;
    }

    .form-content__title {
        font-size: 28px;
        padding-bottom: 20px;
    }

    .form-content__subtitle {
        font-size: 16px;
        padding-bottom: 32px;
    }

    input {
        width: 342px;
    }

    .form-input-button {
        margin-bottom: 28px;
        margin-top: 20px;
        margin-right: 183px;
    }

}