.projects-header__title {
    width: 562px;
    color: var(--text-main, #212529);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Helvetica;
    font-size: 48px;
    line-height: normal;
    margin-bottom: 32px;
}

.projects-header {
    padding-top: 120px;
}

.projects-body {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.projects-body__link {
    width: 425px;
    height: 66px;
    background: #21252980;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding-left: 20px;
    position: relative;
    margin-top: -70px;
}

.projects-body__arrow {
    width: 12px;
    height: 12px;
    margin-right: 27px;
}