.review-header {
    width: 562px;
    color: var(--text-main, #212529);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Helvetica;
    font-size: 48px;
    line-height: normal;
    position: relative;
    margin-top: 120px;
    margin-bottom: 32px;
}

.review-body {
    display: flex;
    gap: 20px;
}

.review-body-card {
    width: 445px;
    height: 327px;
    border: 1px solid #000;
    background: #FFF;
}

.review-body-card-quotes {
    width: 40px;
    height: 40px;
    display: flex;
    position: relative;
    margin-left: 203px;
    margin-top: 40px;
    margin-bottom: 32px;
}

.review-body-card-user {
    color: var(--text-main, #212529);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Helvetica;
    font-size: 18px;
    line-height: normal;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-bottom: 20px;
}

.review-body-card-text {
    width: 365px;
    color: var(--text-main, #212529);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    display: flex;
    position: relative;
    margin-left: 70px;
}

@media screen and (max-width: 375px) {
    .review-body {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .review-body-card {
        width: 343px;
        height: 332px;
    }

    .review-body-card-quotes {
        width: 40px;
        height: 40px;
        margin: 0;
        padding-top: 32px;
        padding-left: 156px;
    }

    .review-body-card-user {
        padding-bottom: 20px;
        padding-top: 32px;
        margin: 0;
    }

    .review-body-card-text {
        width: 278px;
        padding-left: 32px;
        padding-bottom: 37px;
        margin: 0;
    }

    .review-header {
        width: 213px;
        font-size: 28px;
        margin: 0;
        padding-bottom: 20px;
    }
}